
<footer class="padl footer">
  <div class="container-fluid font">
    <div class="row">
      <div class="col-md-12 col-xs-12" style="padding-top: 10px">
        <h4 class="grey"><%= "\u00A9" %> We Are CatchApp - Meet for Sports</h4> 
      </div>

      <div class="col-md-6 col-xs-12">
        <div class="row" style="padding-top: 10px">
          <h4 style="padding-left:15px"><%= link_to "Contact", contact_pages_path, style: "color: #606060" %></h4>
          <h4 style="padding-left:15px"><%= link_to "Privacy Policy", privacy_pages_path, style: "color: #606060" %></h4>
          <h4 style="padding-left:15px"><%= link_to "Terms", term_pages_path, style: "color: #606060" %></h4>
          <h4 style="padding-left:15px"><%= link_to "Trainers", train_pages_path, style: "color: #606060" %></h4>
        </div>                          
      </div>  
      <div class="col-md-4 col-xs-12">
        <div class="sm" style="padding-left:15px">
          <a href="https://www.facebook.com/wearecatchapp/"><%= image_tag "fb_icon.png", class: "img-responsive" %></a>
          <a href="#" ><%= image_tag "LI-icon.png", class: "img-responsive" %></a>
          <a href="#" ><%= image_tag "twitter-logo-4.png", class: "img-responsive" %></a>
          <a href="https://www.instagram.com/wearecatchapp/" ><%= image_tag "new-instagram-icon-2.png", class: "img-responsive" %></a>
      </div>
    </div>
  </div>
</footer>